* {
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

:root {
	--violeta_rosa_oscuro: #5C2751;
	--violeta_oscuro: #6457A6;
	--violeta_claro: #8182D3;
	--celeste_claro: #76E5FC;
	--celeste_oscuro: #4BC0D9;
}


	/* HEADER */
	/* HEADER */
	/* HEADER */
	/* HEADER */
	/* HEADER */

a {
	text-decoration: none;
}

header {
	position: fixed;
	background: #000;
	width: 100vw;
	z-index: 1000;
	color: #fff;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5vw;
}

.logo {
	letter-spacing: 3px;

}

.nav {
	padding-right: 30px;
}


.nav > .a_header{	
	padding: 10px 20px;
}

.nav > .a_header:hover {
	color: var(--celeste_oscuro);
	transition: .3s;
}

.a_header {
	color: white;
	padding: 8px;
}

.responsive, .close-menu, #check {
	display: none;
}



	/* HOME */
	/* HOME */
	/* HOME */
	/* HOME */
	/* HOME */
	/* HOME */



.home {
	padding-top: 70px;
}

.home__divider- {
	height: calc(100vh - 70px);
	margin-bottom: 3vh;
	/*background: linear-gradient(to top, var(--violeta_rosa_oscuro) 0%, var(--violeta_claro) 100%);*/
	/*background-color: var(--violeta-rosa-oscuro)*/
	background-image: url(img/fondo-home.jpg);
	background-size: cover;
	background-position: center;
	

}



.home__divider::after {
	content: "";
	width: 100%;
	height: 500px;
	background-image: url(img/vector1.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	position: absolute;
	bottom: -8vh;
	z-index: 0;
	opacity: .1;
}

.home__divider-::after {
	content: "";
	width: 100%;
	height: 500px;
	background-image: url(img/vector2.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	position: absolute;
	bottom: -10vh;
	z-index: 5;
	opacity: .3;
}


.home::after {
	content: "";
	width: 100%;
	height: 300px;
	background-image: url(img/vector3.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	position: absolute;
	bottom: -3vh;
	z-index: 10;
	opacity: 1;
}


.home-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 70vh;
	padding: 0vh 1vw 0 1vw;
	text-align: center;
	justify-content: center;
	position: relative;
	z-index: 500;

}

.home-content > img {
	width: 35vh;
	border-radius: 50%;
	min-width: 150px;
}

.home-content > h1 {
	padding-top: 10vh;
	color: #fff;
	font-family: 'Arvo', serif;
	width: 768px;
	font-size: 45px;

}


	/* ABOUT */
	/* ABOUT */
	/* ABOUT */
	/* ABOUT */
	/* ABOUT */
	/* ABOUT */

.about {
	display: flex;
	min-height: 80vh;
	align-items: center;
}


.about__img {
	width: 50vw;
	padding-left: 5vw;
}

.about__img > img {
	width: 40vw;
}


.about__text {
	width: 50vw;
	padding: 0 5vw 0 1vw;
}


.about__text > h2 {
	color: var(--violeta_rosa_oscuro);
	font-size: 45px;
	font-family: 'Arvo', serif;
	padding-bottom: 2vh;
	letter-spacing: 2px;


}

.about__text > p {
	font-size: 20px;
	padding: 3px 0;
}

.about__text > h3 {
	font-family: 'Arvo', serif;
	font-size: 30px;
	margin-top: 10vh;
	color: var(--celeste_oscuro);
}

.about__text > ul {
	font-size: 20px;
	padding: 10px 60px;
}

.about__text > ul > li {
	padding: 5px 0;
}


	/* SKILLS */
	/* SKILLS */
	/* SKILLS */
	/* SKILLS */
	/* SKILLS */
	/* SKILLS */
	

.divisor-section{
	background-image: url(img/divisor2.svg);
	height: 180px;
	background-size: cover;
	background-position: center top;
}


.skills {
	height: 100vh;
	background: linear-gradient(to bottom, var(--violeta_rosa_oscuro), #000);
	padding-top: 13vh;
}



.skills__header h2 {
	font-family: 'Arvo', serif;
	font-size: 80px;
	text-align: center;
	color: #fff;
	

}



.skills__img {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 500px;
	justify-items: center;
	margin-top: 15vh;

}

.skills__img img{
	height: 350px;
	
}




.skills__img-html, .skills__img-css, .skills__img-js {
	padding: 20px;
	background:  #fff;
	border-radius: 30px;
	border: 3px solid #000;
	box-shadow: -15px 15px 15px 0px #0006;
}

.skills__img h3 {
	padding-top: 30px;
	font-size: 30px;
	font-family: 'arvo', sans-serif;
	color: #000;
	text-align: center;
}

.skills__img p {
	font-size: 20px;
	padding-top: 10px;
	color: 000;
	text-align: center;
}



	/* PORTFOLIO */
	/* PORTFOLIO */
	/* PORTFOLIO */
	/* PORTFOLIO */
	/* PORTFOLIO */


.div-portfolio {
	height: 200px;
	background: #000;

}



.portfolio {
	/*height: 100vh;*/
	min-height: 100vh;
	background-color: #000;


}

.portfolio h2 {
	font-family: 'arvo', sans-serif;
	font-size: 60px;
	text-align: center;
	padding-top: 10vh;
	color: #fff;
	
}



.portfolio__box {
	margin: 20px;
	width: 400px;
	height: 274.44px;
	text-align: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-shadow: -10px 10px 10px -5px #0005;
	border-radius: 10px;


}

.portfolio__box h4 {
	font-size: 28px;
}

.portfolio__box p {
	font-size: 20px;
}


.portfolio__box img {
	width: 400px; 
}

.portfolio__box img,
.portfolio__box h4,
.portfolio__box p{
	transition: all .7s;
}

.portfolio__box h4,
.portfolio__box p{
	position: relative;
	color: var(--violeta_rosa_oscuro);
	z-index: 1;
	background: #fff9;
	border-radius: 7px;
	width: 60%;
	margin: 10px auto;
}

.portfolio__box:hover h4{
	transform: translateY(-180px);	

}

.portfolio__box:hover p {
	
	transform: translateY(-180px);
}


.background-hover {
	position: absolute;
	width: 600px;
	height: 600px;
	backdrop-filter: blur(5px);
	left: -550px;
	top: 200px;
	border-radius: 50%;
}

.portfolio__box:hover .background-hover{
	left: -120px;
	top: -120px;
	transition: .7s;
}


.portfolio__container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 1fr);
	grid-template-rows: repeat(auto-fil, 314.44px);
	justify-items: center;
	margin-top: 5vh;
	padding-bottom: 5vh;

}

.portfolio__box:first-child {
	grid-row: 1/2;
	grid-column: 1/2;
}

.portfolio__box:nth-child(2) {
	grid-row: 1/2;
	grid-column: 2/3;
}

.portfolio__box:nth-child(3) {
	grid-row: 1/2;
	grid-column: 3/4;
}

.portfolio__box:nth-child(4) {
	grid-row: 2/3;
	grid-column: 1/2;
}

.portfolio__box:nth-child(5) {
	grid-row: 2/3;
	grid-column: 2/3;
}

.portfolio__box:nth-child(6) {
	grid-row: 2/3;
	grid-column: 3/4;
}


	/*FOOTER*/
	/*FOOTER*/
	/*FOOTER*/
	/*FOOTER*/


footer {
	background-color: #000;
	width: 100%;
	color: #fff;
	padding: 15px;
	margin: 0;
	text-align: center;
}

.footer {
	width: 70%;
	margin: 20px auto;
	border-top: 2px solid #fff;

}

.contact {
	
	justify-content: center;
	align-items: center;
	padding: 10px 0 30px 0;
}

.contact h6 {
	font-size: 30px;
	font-family: 'Arvo', serif;
	margin-bottom: 10px;
}

.contact img {
	width: 40px;
	margin: 0 10px;
}


.footer p {
	font-size: 18px;
	padding: 2px;
}





	/* RESPONSIVE MOBILE */
	/* RESPONSIVE MOBILE */
	/* RESPONSIVE MOBILE */
	/* RESPONSIVE MOBILE */
	/* RESPONSIVE MOBILE */

@media screen and (max-width:900px){


	/* HEADER RESPONSIVE */
	/* HEADER RESPONSIVE */
	/* HEADER RESPONSIVE */
	/* HEADER RESPONSIVE */
	/* HEADER RESPONSIVE */


	.logo {
		align-self: center;
	}


	.responsive, .close-menu {
		display: block;
		order: 1;
	}

	.responsive {
		align-self: center;
		margin-right: 1vw;
	}

	.open-menu, .close-menu {
		font-size: 40px;
	}

	header {
		align-items: stretch;
	}

	.nav {
		position: fixed;
		top: 0;
		right: -110%;
		z-index: 10000;
		width: 100vw;
		height: 100vh;
		background: #000;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 7vh 0;
		font-size: 25px;
		transition: .8s;
	}

	.nav > .a_header {
		padding: 3vh 0;
		color: var(--celeste_oscuro);
	}

	.close-menu {
		position: absolute;
		top: 3vh;
		right: 3vh;
	}




	#check:checked ~ .nav{
		right: 0;
	}

	

	/* HOME RESPONSIVE */


	.home-content > p {
		font-size: 6vw;
		width: 90vw;
	}

	.home__divider::after {
		width: 100%;
		height: 500px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 1vh;
	}

	.home__divider-::after {
		width: 100%;
		height: 500px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 0vh;
	}


	.home::after {
		width: 100%;
		height: 300px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: -3vh;
	}

	.home__divider- {
		margin-bottom: 0;
	}


	/* ABOUT ME RESPONSIVE */

	.about{
		flex-direction: column;
		align-items: center;
	}

	.about__img {
		width: 90vw;
		display: flex;

	}

	.about__img > img {
		width: 50vw;
		margin: 0 20vw;
		padding: 0;
			
	}

	.about__text {
		margin-top: 30px;
		padding: 0;
		width: 90vw;
		text-align: center;

	}

	.about__text > h2 {
		padding-bottom: 20px;
	}

	.about__text > p {
		font-size: 18px;
	}

	.about__text > h3 {
		margin-top: 50px;
	}

	.about__text > ul {
		display: flex;
		list-style-type: none;
		list-style-position: outside;
		padding-right: 0;
		padding-left: 0;
		justify-content: space-between;
	}

	.about__text > ul > li {
		padding-left: 8px;
		padding-right: 8px;
		font-size: 18px;
		color: var(--violeta_rosa_oscuro);
	}


	/* SKILLS RESPONSIVE */



.skills {
	padding-top: 8vh;
}

/*

.skills__header h2 {
	font-family: 'Arvo', serif;
	font-size: 80px;
	text-align: center;
	color: #fff;
	

}

*/

.skills__img {
	display: grid;
	grid-template-columns: 80vw;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	justify-content: center;
	margin-top: 5vh;

}

.skills__img img{
	height: 170px;
	
}




.skills__img-html, .skills__img-css, .skills__img-js {
	padding: 20px;
	background:  linear-gradient(to right, #fff 0%, #fffd 50%, #fff9 100%);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 20px 0;
}

.skills__img h3 {
	padding-top: 30px;
	font-size: 30px;
}

.skills__img p {
	font-size: 20px;
	padding-top: 10px;
}

	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/


.portfolio__box:first-child {
	grid-row: 1/2;
	grid-column: 1/2;
}

.portfolio__box:nth-child(2) {
	grid-row: 2/3;
	grid-column: 1/2;
}

.portfolio__box:nth-child(3) {
	grid-row: 3/4;
	grid-column: 1/2;
}

.portfolio__box:nth-child(4) {
	grid-row: 4/5;
	grid-column: 1/2;
}

.portfolio__box:nth-child(5) {
	grid-row: 5/6;
	grid-column: 1/2;
}

.portfolio__box:nth-child(6) {
	grid-row: 6/7;
	grid-column: 1/2;
}





}

/* RESPOSPONSIVE DEL BACKGROUND DEL HOME */

@media screen and (min-width: 900px) and (max-width:  1350px){
	.home__divider::after {
		width: 100%;
		height: 500px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 1vh;
	}

	.home__divider-::after {
		width: 100%;
		height: 500px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: 0vh;
	}


	.home::after {
		width: 100%;
		height: 300px;
		background-size: contain;
		background-repeat: no-repeat;
		bottom: -3vh;
	}	


	/* SKILLS RESPONSIVE */


	.skills__img {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 430px;
		justify-items: center;
		margin-top: 15vh;
	
	}
	
	.skills__img img{
		height: 250px;
		
	}

	.skills__img-html, .skills__img-css, .skills__img-js {
		padding: 30px 10px 10px 10px;
	}


	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/


.portfolio__box:first-child {
	grid-row: 1/2;
	grid-column: 1/2;
}

.portfolio__box:nth-child(2) {
	grid-row: 1/2;
	grid-column: 2/3;
}

.portfolio__box:nth-child(3) {
	grid-row: 2/3;
	grid-column: 1/2;
}

.portfolio__box:nth-child(4) {
	grid-row: 2/3;
	grid-column: 2/3;
}

.portfolio__box:nth-child(5) {
	grid-row: 3/4;
	grid-column: 1/2;
}

.portfolio__box:nth-child(6) {
	grid-row: 3/4;
	grid-column: 2/3;
}




}





@media screen and (max-width: 500px) {
	.about__text h3, .about__text ul {
		display: none;
	}

	.about__img {
		margin-top: 2vh;

	}

	.about__img > img {
		margin: 0;
		width: 100%;
		margin-bottom: 30px;
	}


	.home-content img {
		width: 80vw;
	}


	/* SKILLS RESPONSIVE */

	.divisor-section {
		margin-top: ;
		top: ;
	}


	.skills h2 {
		font-size: 45px;
	}

	.skills {
		padding-top: 0;
	}

	.skills__img {
	display: grid;
	grid-template-columns: 95vw;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	justify-content: center;
	margin-top: 5vh;

}

.skills__img img{
	height: 100px;
	
}



.skills__img-html, .skills__img-css, .skills__img-js {
	margin: 20px 0;
}

.skills__img h3 {
	font-size: 22px;
}

.skills__img p {
	font-size: 15px;
}


	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/
	/*RESPONSIVE PORTFOLIO*/

.div-portfolio {
	display: none;
}



.portfolio__box:first-child {
	grid-row: 1/2;
	grid-column: 1/2;
}

.portfolio__box:nth-child(2) {
	grid-row: 2/3;
	grid-column: 1/2;
}

.portfolio__box:nth-child(3) {
	grid-row: 3/4;
	grid-column: 1/2;
}

.portfolio__box:nth-child(4) {
	grid-row: 4/5;
	grid-column: 1/2;
}

.portfolio__box:nth-child(5) {
	grid-row: 5/6;
	grid-column: 1/2;
}

.portfolio__box:nth-child(6) {
	grid-row: 6/7;
	grid-column: 1/2;
}


.portfolio h2 {
	font-family: 'arvo', sans-serif;
	font-size: 45px;
	text-align: center;
	padding-top: 10vh;
	color: #fff;
	
}



.portfolio__box {
	margin: 20px;
	width: 300px;
	height: 205.83px;
	text-align: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	box-shadow: -5px 5px 5px -3px #0005;
	border-radius: 10px;


}

.portfolio__box h4 {
	font-size: 28px;
}

.portfolio__box p {
	font-size: 16px;
}


.portfolio__box img {
	width: 300px; 
}


.portfolio__box h4,
.portfolio__box p{
	width: 60%;
	margin: 10px auto;
}

.portfolio__box:hover h4{
	transform: translateY(-150px);	

}

.portfolio__box:hover p {
	
	transform: translateY(-150px);
}

.portfolio__box:hover .background-hover{
	left: -120px;
	top: -120px;
}


.portfolio__container {
	grid-template-rows: repeat(auto-fil, 245.83px);

}


	/*FOOTER -500px*/
	/*FOOTER -500px*/
	/*FOOTER -500px*/
	/*FOOTER -500px*/


.footer {
	width: 90%;
}

footer {
	padding: 10px;
}

.contact h6 {
	font-size: 25px;
	font-family: 'Arvo', serif;
	margin-bottom: 10px;
}

.contact img {
	width: 35px;
	margin: 0 5px;
}


.footer p {
	font-size: 15px;
	padding: 2px 0 2px 0;
}




}









@media screen and (max-width: 350px){



	.skills h2 {
		font-size: 45px;
	}

	.skills {
		padding: 0;
		margin: 0;
	}

	.skills__img {
	display: grid;
	grid-template-columns: 90vw;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	justify-content: center;
	margin-top: 5vh;

}

.skills__img img{
	height: 80px;
}



.skills__img-html, .skills__img-css, .skills__img-js {
	margin: 20px 0;
	padding: auto 0;
}

.skills__img h3 {
	font-size: 18px;
	padding: 0;
	margin: 0;
}

.skills__img p {
	font-size: 12px;
	padding: 0;
	margin: 0;
	padding-top: 5px;
}




.portfolio h2 {
	font-size: 35px;
	padding-top: 0;
	
}



.portfolio__box {
	margin: 20px 10px 20px 10px;
	width: 250px;
	height: 150.94px;
	border-radius: 20px;


}

.portfolio__box h4 {
	font-size: 22px;
}

.portfolio__box p {
	font-size: 14px;
}


.portfolio__box img {
	width: 220px; 
}


.portfolio__box:hover h4{
	transform: translateY(-125px);	

}

.portfolio__box:hover p {
	
	transform: translateY(-125px);
}


